body{
    background-color:#91db08e8 ;
    text-align: center;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    font-weight: 420px; 
    font-style: normal; 
}

h1{
    font-size: 80px;
}

h2{
    font-size:40px;
}

ul{
    font-size: 30px;
}
form{
    font-size: 30px;
}